/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    width: 100%;
    margin: 0px;
    display: flex;
    /* add of flex direction */
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    /* box-sizing: border-box; */
}

.section-title {
    margin: 0;
    font-size: 22px;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px 30px 0px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    /* properties for all header */
    max-width: 1440px;
    height: 79px;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.links-logo {
    display: flex;
}

.element-links-logo {
    /* adjust pixel perfect position of logo */
    position: relative;
    top: 10px;
    left: 50px;
}

.links-text {
    /* no wrap IOT match responsive easily */
    display: flex;
    flex-flow: row nowrap;
}

.element-sub-links-text {
    /* general properties for text links + pixel perfect position */
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin: 0px 34.5px 34.5px 34.5px;
    padding-top: 18px;
    position: relative;
    bottom: 10px;
}

.element-sub-links-text:hover { /*hover mode*/
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/****** Title And Search And Filters ***********/
.title {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.search {
    /* make an all width container */
    width: 100%;
    height: 50px;
}

.search-container {
    /* use of flexbox to keep it in row */
    display: flex;
    flex-flow: row nowrap;
}

.search-icon {
    /* make it a square */
    height: 50px;
    width: 50px;
    position: relative;
    right: 8px;
}

.search-icon i {
    /* IOT to keep it on left side */
    position: relative;
    /* above inpute */
    z-index: 2;
    /* icon properties */
    height: 18px;
    width: 14px;
    padding: 15px 18px 15px 18px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search-text {
    /* place holder container */
    position: relative;
    /* zindex IOT be below other buttons */
    z-index: 1;
    display: flex;
    width: 377px;
    /* right IOT to cover icon space */
    right: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    /* IOT to be pixel perfect centered */
    padding-left: 64px;
}

input::-moz-placeholder {
    /* placeholder properties */
    font-size: 18px;
    font-weight: 700;
    color: black;
    /* must specify opacity for moz */
    opacity: 1;
}

input::-webkit-input-placeholder {
    /* placeholder properties */
    font-size: 18px;
    font-weight: 700;
    color: black;
    opacity: 1;
}

input::placeholder {
    /* placeholder properties */
    font-size: 18px;
    font-weight: 700;
    color: black;
    opacity: 1;
}

input:placeholder-shown {
    /* placeholder-shown  properties */
    font-size: 18px;
    font-weight: 700;
    color: black;
    opacity: 1;
}

.search-button.screen {
    /* relative for zindex */
    position: relative;
    z-index: 3;
    /* IOT center icon */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    width: 132px;
    right: 182px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.search-button.responsive {
    /* IOT hide responsive button */
    display: none;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) - general*/
@media (max-width: 767.98px) {
    main {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    /* !!!!!! HEADER !!!!!! */
    
    header {
        height: 100px;
        width: 100%;
        padding: 30px 0px 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .element-links-logo {
        justify-content: center;
        position: relative;
        left: 0px;
    }

    .links-text { /* IOT take all width*/
        width: 100%;
        height: 90px;
    }

    .sub-links-text { /*share equal width between links*/
        width: calc(100% / 2);
        position: relative;
        top: 10px;
    }

    .element-sub-links-text { /*apply permanent solid grey bottom border to text links*/
        margin: 20px 0px 10px 0px;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 15px;
        display: flex; /* center text in his box*/
        justify-content: center; /*center text in his box */
    }

    .main-container { /*IOT free all width for header */
        padding: 0px 0px;
        width: 100%;
    }

    /******** hover ********/

    .element-sub-links-text:hover { /* apply hover to text links */
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 15px;
    }

    /* !!!!!!!! SEARCH BOX !!!!!! */
    .search-container {
        /* IOT to align button to the right */
        justify-content: space-between;
        /* IOT to position children : class= search-text */
        position: relative;
    }

    .search-icon {
        /* IOT to align icon pixel perfect */
        left: 1px;
    }

    .search-text {
        /* adapt width to full size */ 
        width: 100%;
        display: inline-block;
        /* IOT to make full size bar */
        position: absolute;
        /* must specify height cause of absolute */
        height: 50px;
        /* IOT to cancel 50px right for desktop */
        right: 0px;
        /* IOT to be pixel perfect */
        padding-left: 84px;
    }

    button.search-button.screen {
        /*hide full screen search button */ 
        display: none;
    }

    button.search-button.responsive { /*apply border to search button*/
        display: inline-block;
        /* IOT to allow zindex */
        position: relative;
        z-index: 4;
        /* 100% of his container width */
        max-width: 100%;
        /* IOT to keep it as a square */
        min-width: 50px;
        width: 50px;
        height: 50px;
        /* properties */
        /* IOT to place button right */
        /* left: 8px; */
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 15px 15px 15px 15px;
    }

    button.search-button.responsive i { /* apply white color to seach icon*/
        color: #FFFFFF;
    }
}