/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    width: 100%;
    margin: 0px;
    display: flex;
    /* add of flex direction */
    flex-direction: column;
    align-items: center;
}

.main-container {
    /* to occupy full width */
    width: 100%;
    /* to max width for wide screen */
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h2 {
    margin: 0;
    font-size: 22px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

.card {
    background-color: white;
    border-radius: 20px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    /* properties for all header */
    /* to max width for wide screens */
    max-width: 1440px;
    /* to apply spacebetween */
    width: 100%;
    height: 79px;
    padding: 0px 50px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.links-logo {
    display: flex;
}

.element-links-logo {
    /* adjust pixel perfect position of logo */
    position: relative;
    top: 10px;
}

.links-text {
    /* no wrap IOT match responsive easily */
    display: flex;
    flex-flow: row nowrap;
}

.element-sub-links-text {
    /* general properties for text links + pixel perfect position */
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin: 0px 34.5px 34.5px 34.5px;
    padding-top: 18px;
    position: relative;
    bottom: 10px;
}

.element-sub-links-text:hover { /*hover mode*/
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.element-sub-links-text.activites {
    margin: 0px 0px 34.5px 34.5px;
}

/****** Title And Search And Filters ***********/

/* !!!!!! TITLE !!!!!! */
.title {
    margin-top: 30px;
    margin-bottom: 2em;
}

.section-title-h4 {
    margin: 8px 0px 30px 0px;
}

/* !!!!!! SEARCH BAR !!!!!! */
.search {
    /* make an all width container */
    width: 100%;
    height: 50px;
}

.search-container {
    /* use of flexbox to keep it in row */
    display: flex;
    flex-flow: row nowrap;
}

.search-icon {
    /* make it a square */
    height: 50px;
    width: 50px;
    position: relative;
    right: 0px;
}

.search-icon i {
    /* IOT to keep it on left side */
    position: relative;
    /* above inpute */
    z-index: 2;
    /* icon properties */
    height: 18px;
    width: 14px;
    padding: 15px 18px 15px 18px;
    color: #000000;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search-text {
    /* place holder container */
    position: relative;
    /* zindex IOT be below other buttons */
    z-index: 1;
    display: flex;
    width: 377px;
    /* right IOT to cover icon space */
    right: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    /* IOT to be pixel perfect centered */
    padding-left: 64px;
}

input::-moz-placeholder, input::-webkit-input-placeholder, input::placeholder, 
input:placeholder-shown, input:focus {
    /* placeholder properties */
    font-size: 18px;
    font-weight: 700;
    color: black;
    /* must specify opacity for moz */
    opacity: 1;
}
 
.search-button.screen {
    /* relative for zindex */
    position: relative;
    z-index: 3;
    /* IOT center icon */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    width: 132px;
    right: 182px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.search-button.responsive {
    /* IOT hide responsive button */
    display: none;
}

/* !!!!!! FILTER !!!!!! */
.filter {
    /* separate with search bar */
    margin-top: 35px;
    display: flex;
    /* wrap title and container */
    flex-flow: row wrap;
    /* center 2nd direction : title and elements */
    align-items: center;
    /* gap between title and container */
    gap: 15px;
}

.filter-main-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}
.filter-element-container {
    display: flex;
    /* nowrap between elements */
    flex-flow: row nowrap;
    gap: 15px;
}

.filter-element {
    display: flex;
    /* icon and text mustnt change place between each others */
    flex-flow: row nowrap;
    align-items: center;
    /* not 50 bc od 2px border each side */
    height: 46px;
    padding: 0px 19px 0px 21.5px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filter-element p {
    /* cancel margin */
    margin: 0px;
}

.filter-element:hover {
    background-color: #DEEBFF;
}

.economique {
    /* gap between icon and text */
    gap: 10px;
}

.familial {
    gap: 14.56px;
}

.romantique {
    gap: 10px;
}

.pepites {
    gap: 11.5px;
}

/****** Info ***********/
.info {
    max-width: 1440px;
    width: 100%;
    padding: 37.5px 0px;
}

.info-container {
    width: 100%;
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

.info-container i {
    width: 4px;
    height: 10px;
    padding: 7px 10px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    /* gap betwenn hebergement and populaires */
    column-gap: 40px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;    
}

/****** Hebergements ***********/
.hebergements {
    width: 70%;
    height: 614px;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    /* to gap btw title and grid */
    margin-bottom: 30px;
}

.hebergements a {
    /* to cancel underline and blue color */
    text-decoration: none;
    color: #000000;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-cards {
    display: grid;
    /* 3 coluns grid */
    grid-template-columns: 1fr 1fr 1fr;
    /* 2 rows grid */
    grid-template-rows: 1fr 1fr;
    /* gap btwn row grids elements */
    row-gap: 20px;
    /* gap btwn column grid elements */
    column-gap: 40px;
    /* to apply gap btwn right-grid and container */
    margin-right: 15px;
}

.hebergements-cards .card {
    /* to place elements in column inside the card */
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 207px;
    /* to make a space between image and card container */
    padding: 5px;
}

.hebergements-cards img {
    /* full width img */
    width: 100%;
    /* precise img height */
    height: 124px;
    /* rounded borders on the rop */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements .card-title {
    /* to space between img and left border */
    margin: 4px 0px 0px 10px;
}

.hebergements .card-subtitle {
    /* to space btwn hotel name and stars */
    margin: 8px 10px;

}

.hebergements .card-rating {
    margin-left: 10px;
}

.hebergements-sub-title h3{
    /* to gap btwn sub title and cards */
    margin-top: 30px;
    padding-bottom: 20px;
}

/****** Populaires ***********/
.populaires {
    /* to share width with hebergement */
    width: 30%;
    height: 614px;
    background-color: var(--main-bg-color);
}

.populaires-title {
    /* to space btwn title and icon */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires a {
    /* to cancel underline and blue color */
    text-decoration: none;
    color: #000000;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards {
    /* 1 column and 3 rows grid */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* gap btwn grids */
    gap: 30px;
    margin-top: 30px;
}

.populaires-cards .card {
    display: flex;
    /* to avoid going into container margin */
    width: 96%;
    margin-top: 0px;
    /* to make a space between image and card container */
    padding: 5px;
}

.populaires-cards img {
    /* image properties */
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********** Activites ***********/
.div-activites {
    /* occupy all witdh */
    width: 100%;
    /*  then center all activite */
    display: flex;
    justify-content: center;
}

.activites {
    /* only allocate 95% of width */
    width: 95%;
}

.activites-container {
    /* organize title and card in columns with no wrap */
    display: flex;
    flex-flow: column nowrap;
}

.activites-title {
    /* make a space btwn title and cards */
    margin-bottom: 30px;
}

.activites-cards {
    /* fixed height for desktops */
    height: 380px;
    /* occupy full witdh into the 95% width fm parent allocated */
    width: 100%;
    /* make a grid 1 row and 4 column, 1 per element, 30px gap */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.activites-cards.card {
    /* to allow img to fit all the card */
    padding: 0px;
    background-color: #FFFFFF;
}

.activites img {
    /* to fit full card width */
    width: 100%;
    /* fixed height */
    height: 380px;
    /* to make the radius */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-card-title {
   /* fixed height */
   height: 59px; 
   /* to center the title inside the card */
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* to align title inside the card */
   padding-left: 19px;
   /* to make the radius */
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.activites a {
    text-decoration: none;
    color: #000000;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1080px) {
    /* !!!!!! FILTERS !!!!!! */
    .filter {
        display: block;
    }

    .filter-title {
        margin-bottom: 20px;
    }

    /* !!!!!! HEBERGEMENT !!!!!! */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        height: 252px;
        margin-top: 50px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards {
        /* 1 column and 3 rows grid */
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        /* gap btwn grids */
        gap: 20px;
        margin-top: 30px;
    }
    
    /* !!!!!!! ACTIVITES !!!!!!! */
    .activites-cards {
        height: 100%;
    }

    .activites img {
        /* modify height */
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) - general*/
@media (max-width: 780px) {
    main {
        width: 100%;
        padding: 40px 0px;
        box-sizing: border-box;
    }

    /* !!!!!! HEADER !!!!!! */
    
    header {
        height: 100px;
        width: 100%;
        padding: 30px 0px 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .element-links-logo {
        justify-content: center;
        position: relative;
        left: 0px;
    }

    .links-text { /* IOT take all width*/
        width: 100%;
        height: 90px;
    }

    .sub-links-text { /*share equal width between links*/
        width: calc(100% / 2);
        position: relative;
        top: 10px;
    }

    .element-sub-links-text { /*apply permanent solid grey bottom border to text links*/
        margin: 20px 0px 0px 0px;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 15px;
        display: flex; /* center text in his box*/
        justify-content: center; /*center text in his box */
    }

    .element-sub-links-text.activites {
        margin: 20px 0px 0px 0px;
    }

    .main-container { /*IOT free all width for header */
        padding: 0px 0px;
        width: 100%;
    }
    
    /******** hover ********/

    .element-sub-links-text:hover { /* apply hover to text links */
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 15px;
    }

    /******** TITLE SEARCH FILTERS *********/
    .title-search-filters {
        padding: 0px 20px;
    }

    /* !!!!!! TITLE !!!!!! */
    .title {
        margin-top: 1em;
    }

    /* !!!!!!!! SEARCH BOX !!!!!! */
    .search-container {
        /* IOT to align button to the right */
        justify-content: space-between;
        /* IOT to position children : class= search-text */
        position: relative;
    }

    .search-icon {
        /* IOT to align icon pixel perfect */
        left: 1px;
    }

    .search-text {
        /* adapt width to full size */ 
        width: 100%;
        display: inline-block;
        /* IOT to make full size bar */
        position: absolute;
        /* must specify height cause of absolute */
        height: 50px;
        /* IOT to cancel 50px right for desktop */
        right: 0px;
        /* IOT to be pixel perfect */
        padding-left: 84px;
    }

    button.search-button.screen {
        /*hide full screen search button */ 
        display: none;
    }

    button.search-button.responsive { /*apply border to search button*/
        display: inline-block;
        /* IOT to allow zindex */
        position: relative;
        z-index: 4;
        /* 100% of his container width */
        max-width: 100%;
        /* IOT to keep it as a square */
        min-width: 50px;
        width: 50px;
        height: 50px;
        /* properties */
        /* IOT to place button right */
        /* left: 8px; */
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 15px 15px 15px 15px;
    }

    button.search-button.responsive i { /* apply white color to seach icon*/
        color: #FFFFFF;
    }

    /* !!!!!! FILTERS !!!!!! */
    .filter-main-container {
        flex-wrap: wrap;
    }

    .filter-element-container {
        /* to occupy sull width */
        width: 100%;
    }

    .filter-element {
        /* to divide width in equal parts */
        width: calc(100% / 2);
    }

    /********** Info *********/
    .info {
        padding: 35px 20px 35px 20px;
    }

    /********** Hébergements *********/

    .hebergements-and-populaires {
        flex-direction: row;
        flex-wrap: wrap-reverse;
        width: 100%;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px 20px;
        box-sizing: border-box;
    }

    .hebergements {
        background-color: #FFFFFF;
        padding: 35px 0px;
    }

    .hebergements-title {
        /* to align pixel perfect */
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .hebergements-cards {
        display: grid;
        /* 3 coluns grid */
        grid-template-columns: 1fr;
        /* 2 rows grid */
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        /* gap btwn grid elements */
        gap: 15px;
        /* to apply gap btwn right-grid and container */
        margin-right: 15px;
    }

    .populaires {
        height: 569px;
        width: 100%;
        margin: 0px;
    }

    .populaires-cards {
        /* gap btwn grid elements */
        gap: 15px;
        /* to adjust pixel perfect */
        margin-top: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 97%;
    }

    .populaires-cards .card {
        width: 100%;
        /* to adjust pixel perfect */
        margin-right: 30px;
    }
}